#ph_banner{width:100%;}
#ph_banner img{width:100%;}


/*泰仁律师团队样式*/
#tr_team{ width:100%;}
#tr_team .content{width:100%; margin:0 auto;}
#tr_team .content .ca_words{ text-align:center;}
#tr_team .content .ca_words h5{color:#000;font-size:1.1rem;font-family:'微软雅黑'; font-weight:inherit; text-align:center; margin-top:14px;}
#tr_team .content .ca_words h5 span{ font-weight:bold;color:#a30202;}
#tr_team .content .ca_words p{ display:inline-block; width:40px; border:1px solid #a30202; margin-top:8px;}
#tr_team .content .team_list{ margin-top:20px;position:relative;}
#tr_team .content .team_list ul{width:100%;}
#tr_team .content .team_list ul li{float:left; width:44%; margin:0 3%;}
#tr_team .content .team_list ul li .img_tr{ position:relative;width: 100%; height: 165px; overflow: hidden;}
#tr_team .content .team_list ul li .img_tr img{ width:100%;}
#tr_team .content .team_list ul li .img_tr p{color:#fff;font-size:0.9rem;font-family:'微软雅黑'; width:100%; position:absolute; bottom:0px; height:36px; background: rgba(0, 0, 0, 0.5); line-height:36px; text-align:center;}
#tr_team .content .team_list ul li .img_tr p span{font-size:0.7rem;  margin-left:20px;}
#tr_team .content .team_list ul li h6{color:#000;font-size:0.9rem;font-family:'微软雅黑';line-height:22px; font-weight:500; margin-top:10px; height: 44px; overflow: hidden;}
#tr_team .content .team_list ul li .but_t{margin-top:10px;}
#tr_team .content .team_list ul li .but_t a{color:#fff;font-size:0.8rem;font-family:'微软雅黑'; display:inline-block; background:#a30202; width:45%; height:26px; border:1px solid #a30202; border-radius:3px; text-align:center; line-height:26px;}
#tr_team .content .team_list ul li .but_t .a2{color:#a30202;background:#fff; float:right;}
#tr_team .content .but{ width:100%; text-align:center; padding:18px 0 20px 0;}
#tr_team .content .but .swiper-pagination{ display:inline-block;margin-left: -30px;}
#tr_team .content .but .swiper-pagination .swiper-pagination-bullet{ float:left; width:10px; height:10px;border-radius:50%; background:#cdcdcd; margin-right:10px;}
#tr_team .content .but .swiper-pagination .swiper-pagination-bullet-active{  background:#a30202; }

/*热门咨询*/
#t_advisory{ width:100%; border-top: 6px solid #dadada;}
#t_advisory .content{width:94%; margin:0 auto;}
#t_advisory .content .ca_words{ text-align:center;}
#t_advisory .content .ca_words h5{color:#000;font-size:1.1rem;font-family:'微软雅黑'; font-weight:inherit; text-align:center; margin-top:16px;}
#t_advisory .content .ca_words h5 span{ font-weight:bold;color:#a30202;}
#t_advisory .content .list_but{ margin-top:12px; text-align:center;}
#t_advisory .content .list_but ul{ display:inline-block;}
#t_advisory .content .list_but ul li{color:#666666;font-size:0.7rem;font-family:'微软雅黑'; float:left; width:70px; height:24px; line-height:24px; border-radius:20px; border:1px solid #dadada; margin-right:10px;}
#t_advisory .content .list_but ul .li1{color:#fff;  border:1px solid #a30202; background:#a30202;}
#t_advisory .content .list_lb{ margin-top:20px;border-top:1px solid #dadada;}
#t_advisory .content .list_lb ul li{ width:100%; height:40px; border-bottom:1px solid #dadada;}
#t_advisory .content .list_lb ul li a{color:#000;font-size:0.7rem;font-family:'微软雅黑'; line-height:40px;}
#t_advisory .content .list_lb ul li a .span1{ display:inline-block; width:6px; height:6px; border-radius:50%; background:#a30202; margin-right:8px;}
#t_advisory .content .list_lb ul li a .span2{display:inline-block; color:#fff;font-size:0.7rem;font-family:'微软雅黑'; width:60px; height:26px; line-height:26px; text-align:center;background:#a30202;border-radius:4px; float:right; margin-top:7px;}
#t_advisory .content .zx_but{ padding-top:12px; padding-bottom:16px; text-align:center;}
#t_advisory .content .zx_but img{ width:90%;}

/*为什么选择我们*/
#select_m{ width:100%;}
#select_m img{ width:100%;}

/*成功案例*/
#case_list{ width:100%;}
#case_list .content{width:100%; margin:0 auto;}
#case_list .content .ca_words{ text-align:center;}
#case_list .content .ca_words h5{color:#000;font-size:1.1rem;font-family:'微软雅黑'; font-weight:inherit; text-align:center; margin-top:16px;}
#case_list .content .ca_words h5 span{ font-weight:bold;color:#a30202;}
#case_list .content .ca_words p{ display:inline-block; width:40px; border:1px solid #a30202; margin-top:8px;}
#case_list .content .al_list ul li{ border-bottom:1px solid #e9e8e8;}
#case_list .content .al_list ul li h5{color:#000;font-size:0.8rem;font-family:'微软雅黑'; margin-left:3%; padding-top:16px; font-weight:500;}
#case_list .content .al_list ul li h6{color:#999;font-size:0.4rem;font-family:'微软雅黑'; margin-left:3%; font-weight:500; line-height:28px;}
#case_list .content .al_list ul li h6 span{ margin-left:20px;}
#case_list .content .al_list ul li p{color:#666;font-size:0.8rem;font-family:'微软雅黑'; margin-left:3%; margin-right:3%;  line-height:22px; padding-bottom:16px;}
#case_list .content .more{ padding-top:10px; padding-bottom:12px; text-align:center;}
#case_list .content .more img{ width:50%;}

/*优势*/
#advantage{ width:100%;border-top: 6px solid #dadada;}
#advantage .content{width:100%; margin:0 auto;}
#advantage .content .ca_words{ text-align:center;}
#advantage .content .ca_words h5{color:#000;font-size:1.1rem;font-family:'微软雅黑'; font-weight:inherit; text-align:center; margin-top:16px;}
#advantage .content .ca_words h5 span{ font-weight:bold;color:#a30202;}
#advantage .content .ca_words p{ display:inline-block; width:40px; border:1px solid #a30202; margin-top:8px;}
#advantage .content .ys_list{ padding-bottom:20px;}
#advantage .content .ys_list ul li{ position:relative; width:44%; margin:0 3%; float:left; margin-top:22px;}
#advantage .content .ys_list ul li img{ width:100%;}
#advantage .content .ys_list ul li p{color:#fff;font-size:0.9rem;font-family:'微软雅黑'; width:100%; position:absolute; bottom:0px; height:36px; background: rgba(0, 0, 0, 0.5); line-height:36px; text-align:center;}

/*咨询流程*/
#advisory_lc{width:100%;border-top: 6px solid #dadada;}
#advisory_lc img{width:100%;}


/*服务流程样式*/
#service{ width:100%;}
#service img{ width:100%;}
/*服务流程样式完*/