/*联盟律师*/
#surroundings{ width:100%; height:900px;}
#surroundings .content{ width:1200px; margin:0 auto; padding-bottom:46px;}
#surroundings .content h5{font-size:40px; color:#a30202; font-family:'微软雅黑'; text-align:center; padding-top:40px; padding-bottom:20px;}
#surroundings .content h5 span{font-size:38px; color:#a30202; font-family:'微软雅黑'; text-align:center; font-weight:500; line-height:44px;padding-left:20px;}
#surroundings .content .but_list{width:1130px; margin:0 auto; padding-top:30px;}
#surroundings .content .but_list ul li{ width:120px;  margin:10px 10px; height:30px; text-align:center; float:left; border-radius:50px;cursor: pointer;}
#surroundings .content .but_list ul li p{font-size:16px; color:#333; font-family:'微软雅黑'; line-height:30px;}
#surroundings .content .but_list ul .li1{ background:#de6e6e;}
#surroundings .content .but_list ul .li1 p{ color:#fff;}
#surroundings .content .cd_list{ width:1200px; height:467px; margin:0 auto; padding-top:40px; overflow:hidden;}
#surroundings .content .cd_list ul{ width:100%; position:relative;}
#surroundings .content .cd_list ul li{ position:absolute;}
#surroundings .content .cd_list ul li img{ width:100%;}
#surroundings .content .cd_list ul li .title{ position:absolute; width:100%; height:34px; bottom:0; text-align:center;background-color:rgba(0,0,0,0.5);}
#surroundings .content .cd_list ul li .title{font-size:14px; color:#fff; font-family:'微软雅黑'; line-height:34px;}
#surroundings .content .cd_list ul .img1_i{left: 0px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img2_i{left: 195px; top: 0px; width: 553px; height: 467px; z-index: 1;}
#surroundings .content .cd_list ul .img3_i{left: 778px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img4_i{left: 973px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img5_i{left: 0px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img6_i{left: 778px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img7_i{left: 973px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img8_i{left: 0px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img9_i{left: 778px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cd_list ul .img10_i{left: 973px; top: 330px; width: 165px; height: 138px; z-index: 1;}

#surroundings .content .cq_list{ width:1130px; height:467px; margin:0 auto; padding-top:40px; overflow:hidden;display:none;}
#surroundings .content .cq_list ul{ width:100%; position:relative;}
#surroundings .content .cq_list ul li{ position:absolute;}
#surroundings .content .cq_list ul li img{ width:100%;}
#surroundings .content .cq_list ul li .title{ position:absolute; width:100%; height:34px; bottom:0; text-align:center;background-color:rgba(0,0,0,0.5);}
#surroundings .content .cq_list ul li .title{font-size:14px; color:#fff; font-family:'微软雅黑'; line-height:34px;}
#surroundings .content .cq_list ul .img1_i{left: 0px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img2_i{left: 195px; top: 0px; width: 553px; height: 467px; z-index: 1;}
#surroundings .content .cq_list ul .img3_i{left: 778px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img4_i{left: 973px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img5_i{left: 0px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img6_i{left: 778px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img7_i{left: 973px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img8_i{left: 0px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img9_i{left: 778px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .cq_list ul .img10_i{left: 973px; top: 330px; width: 165px; height: 138px; z-index: 1;}

#surroundings .content .xa_list{ width:1130px; height:467px; margin:0 auto; padding-top:40px; overflow:hidden; display:none;}
#surroundings .content .xa_list ul{ width:100%; position:relative;}
#surroundings .content .xa_list ul li{ position:absolute;}
#surroundings .content .xa_list ul li img{ width:100%;}
#surroundings .content .xa_list ul li .title{ position:absolute; width:100%; height:34px; bottom:0; text-align:center;background-color:rgba(0,0,0,0.5);}
#surroundings .content .xa_list ul li .title{font-size:14px; color:#fff; font-family:'微软雅黑'; line-height:34px;}
#surroundings .content .xa_list ul .img1_i{left: 0px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img2_i{left: 195px; top: 0px; width: 553px; height: 467px; z-index: 1;}
#surroundings .content .xa_list ul .img3_i{left: 778px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img4_i{left: 973px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img5_i{left: 0px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img6_i{left: 778px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img7_i{left: 973px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img8_i{left: 0px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img9_i{left: 778px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .xa_list ul .img10_i{left: 973px; top: 330px; width: 165px; height: 138px; z-index: 1;}

#surroundings .content .hz_list{ width:1130px; height:467px; margin:0 auto; padding-top:40px; overflow:hidden; display:none;}
#surroundings .content .hz_list ul{ width:100%; position:relative;}
#surroundings .content .hz_list ul li{ position:absolute;}
#surroundings .content .hz_list ul li img{ width:100%;}
#surroundings .content .hz_list ul li .title{ position:absolute; width:100%; height:34px; bottom:0; text-align:center;background-color:rgba(0,0,0,0.5);}
#surroundings .content .hz_list ul li .title{font-size:14px; color:#fff; font-family:'微软雅黑'; line-height:34px;}
#surroundings .content .hz_list ul .img1_i{left: 0px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img2_i{left: 195px; top: 0px; width: 553px; height: 467px; z-index: 1;}
#surroundings .content .hz_list ul .img3_i{left: 778px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img4_i{left: 973px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img5_i{left: 0px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img6_i{left: 778px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img7_i{left: 973px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img8_i{left: 0px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img9_i{left: 778px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .hz_list ul .img10_i{left: 973px; top: 330px; width: 165px; height: 138px; z-index: 1;}

#surroundings .content .sh_list{ width:1130px; height:467px; margin:0 auto; padding-top:40px; overflow:hidden; display:none;}
#surroundings .content .sh_list ul{ width:100%; position:relative;}
#surroundings .content .sh_list ul li{ position:absolute;}
#surroundings .content .sh_list ul li img{ width:100%;}
#surroundings .content .sh_list ul li .title{ position:absolute; width:100%; height:34px; bottom:0; text-align:center;background-color:rgba(0,0,0,0.5);}
#surroundings .content .sh_list ul li .title{font-size:14px; color:#fff; font-family:'微软雅黑'; line-height:34px;}
#surroundings .content .sh_list ul .img1_i{left: 0px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img2_i{left: 195px; top: 0px; width: 553px; height: 467px; z-index: 1;}
#surroundings .content .sh_list ul .img3_i{left: 778px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img4_i{left: 973px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img5_i{left: 0px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img6_i{left: 778px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img7_i{left: 973px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img8_i{left: 0px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img9_i{left: 778px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .sh_list ul .img10_i{left: 973px; top: 330px; width: 165px; height: 138px; z-index: 1;}

#surroundings .content .nj_list{ width:1130px; height:467px; margin:0 auto; padding-top:40px; overflow:hidden; display:none;}
#surroundings .content .nj_list ul{ width:100%; position:relative;}
#surroundings .content .nj_list ul li{ position:absolute;}
#surroundings .content .nj_list ul li img{ width:100%;}
#surroundings .content .nj_list ul li .title{ position:absolute; width:100%; height:34px; bottom:0; text-align:center;background-color:rgba(0,0,0,0.5);}
#surroundings .content .nj_list ul li .title{font-size:14px; color:#fff; font-family:'微软雅黑'; line-height:34px;}
#surroundings .content .nj_list ul .img1_i{left: 0px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img2_i{left: 195px; top: 0px; width: 553px; height: 467px; z-index: 1;}
#surroundings .content .nj_list ul .img3_i{left: 778px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img4_i{left: 973px; top: 0px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img5_i{left: 0px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img6_i{left: 778px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img7_i{left: 973px; top: 162px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img8_i{left: 0px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img9_i{left: 778px; top: 330px; width: 165px; height: 138px; z-index: 1;}
#surroundings .content .nj_list ul .img10_i{left: 973px; top: 330px; width: 165px; height: 138px; z-index: 1;}
/*西安秦岳律师事务所*/
#office{width:100%;min-height: 600px;}
#office .content{ width:1130px; margin:0 auto;}
#office .content .list{text-align: center;}
#office .content .list h1{font-size:36px; color:#000; font-family:'微软雅黑'; text-align:center;font-weight: 600;}
#office .content .list h4{font-size: 22px;color:#191919;font-family:'微软雅黑'; text-align:center;font-weight: unset;margin:40px auto;}
#office .content .list div{font-size: 22px;color:#191919;font-family:'微软雅黑'; text-align:center;font-weight: unset;margin:40px auto;}
/*相关案例*/
#list_team{width:100%;}
#list_team .content{ width:1200px; margin:0 auto;}
#list_team .content h5{font-size:40px; color:#a30202; font-family:'微软雅黑'; text-align:center; padding-top:40px; padding-bottom:20px;border-bottom: 2px solid #ededed;}
#list_team .content h5 span{font-size:38px; color:#a30202; font-family:'微软雅黑'; text-align:center; font-weight:500; line-height:44px;padding-left:20px;}
#list_team .content .title_but_list{ margin-top:20px;}
#list_team .content .title_but_list ul li{ margin-bottom:20px;float:left; width:130px; height:30px;  margin-left:18.2px; border-radius:50px; text-align:center; line-height:30px; }
#list_team .content .title_but_list ul .li1{ margin-left:0px;}
#list_team .content .title_but_list ul li:hover{ background:#de6e6e;}
#list_team .content .title_but_list ul .li2{ background:#5599ff;}
#list_team .content .title_but_list ul li a{font-size:16px; color:#5599ff; font-family:'微软雅黑';}
#list_team .content .title_but_list ul li:hover a{color:#fff;}
#list_team .content .title_but_list ul .li2 a{color:#fff;}
#list_team .content .list{ margin-top:28px;}
#list_team .content .list ul li{ width:590px;  background:#eaedf4; height:188px; margin-top:20px; float:left; margin-left:6px; }
#list_team .content .list ul .li1{ margin-left:0;}
#list_team .content .list ul li .left{ width:94px;  height:70px; float:left;position: relative;}
#list_team .content .list ul li .left p{ width:60px; margin:0 auto;font-size:25px; color:#0044a9; font-family:'微软雅黑'; font-weight:700;}
#list_team .content .list ul li .left p img{width:170px;height: 150px; margin:20px 0px;}
#list_team .content .list ul li .left .text_cover{position:absolute;top:20px;left:17px;width:116px;height: 134px;background:rgba(0,0,0,0.3);font-size:50px;font-family:"楷体";padding:8px 27px;font-weight:600;color:#fff;}
#list_team .content .list ul li .right{ width:370px; height:110px; float:left; margin-left:120px;color:#fff; margin-top:25px;}
#list_team .content .list ul li .right h6{font-size:18px; color:#333; font-family:'微软雅黑';font-weight:500;}
#list_team .content .list ul li .right p{font-size:14px; color:#333; font-family:'微软雅黑';  height:38px;overflow:hidden;line-height: 38px;}
#list_team .content .list ul li .right h4{font-size:14px; color:#333; font-family:'微软雅黑';  height:50px;overflow:hidden;margin-top:30px;}
#list_team .content .list ul li:hover{ background:#de6e6e;}
#list_team .content .list ul li:hover .right p{ color:#fff;}
#list_team .content .list ul li:hover .right h6{color:#fff;}
#list_team .content .list ul li:hover .right h4{color:#fff;}
#list_team .content .more{ margin-top:34px; text-align:center;}
#list_team .content .paging_lf_trls{ margin-top:42px; width:100%; padding-bottom:20px; text-align:center;}
#list_team .content .paging_lf_trls ul{ display:inline-block;}
#list_team .content .paging_lf_trls ul li:not(:first-child){ width:40px; height:40px; text-align:center; float:left; margin-left:10px;  font-family:"微软雅黑"; font-size:15px;color:#7e7e7e;line-height: 40px;}
#list_team .content .paging_lf_trls ul li:not(:last-child){ width:40px; height:40px; text-align:center; float:left; margin-left:10px;  font-family:"微软雅黑"; font-size:15px;color:#7e7e7e;line-height: 40px;}
#list_team .content .paging_lf_trls ul li:first-child{ width:80px; height:40px; text-align:center; float:left; margin-left:10px;  font-family:"微软雅黑"; font-size:15px;color:#7e7e7e;line-height: 40px;}
#list_team .content .paging_lf_trls ul li:last-child{ width:80px; height:40px; text-align:center; float:left; margin-left:10px;  font-family:"微软雅黑"; font-size:15px;color:#7e7e7e;line-height: 40px;}
#list_team .content .paging_lf_trls ul li a{ display:block; line-height:40px;}
#list_team .content .paging_lf_trls ul li a img{ width:80px;height: 40px;}
#list_team .content .paging_lf_trls ul li:hover{     -moz-background-size: 100% 100%; background-size: 100% 100%; }
#list_team .content .paging_lf_trls ul li:hover a{color:#fff;background: #de6e6e;border-radius: 5px;}
#list_team .content .paging_lf_trls ul .li1{  -moz-background-size: 100% 100%; background-size: 100% 100%; }
#list_team .content .paging_lf_trls ul .li1 a{color:#fff;}
